html {
  @import url('https://fonts.googleapis.com/css?family=Montserrat')
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  background-color: #121212;
}

/*HEADINGS*/
h1 {
  font-family: Montserrat;
  font-size: 96vw;
  font-weight: 700;
}
h2 {
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
}

.grid-main {
  display: grid;
  grid-template-columns: 210px auto;
}

/*NAVIGATION*/
.sidenav {
  grid-column-start: 1;
  height: 100%;
  width: 210px;
  position: fixed;
  padding-top: 24px;
  background-color: #000000;
}

.sidenav a.menu {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 8px;
  margin-right: 8px;
  height: 40px;
  text-decoration: none;
  font-size: 14px;
  color: #B3B3B3;
  display: flex;
  align-items: center;
}

.sidenav a.menu:hover {
  color: #1DB954;
}

.sidenav a.active {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 8px;
  margin-right: 8px;
  height: 40px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: #282828;
  color: #ffffff;
  border-radius: 4px;
}

.sidenavp {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 12px;
  color: #818181;
  display: flex;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a.menu {font-size: 18px;}
}

a.history:link, a.history:visited {
  background-color: black;
  width: 175px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px
}

a.history:hover, a.lm:active {
color: black;
  background-color: white;
}

a.about:link, a.about:visited {
  background-color: #a5ffef;
  width: 175px;
  color: #cb1582;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px
}

a.about:hover, a.about:active {
color: #cb1582;
  background-color: white;
}

a.future:link, a.future:visited {
  background-color: #1ed760;
  width: 175px;
  color: #2d46b9;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px
}

a.future:hover, a.future:active {
color: #2d46b9;
  background-color: white;
}

.grid-body{
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 60px auto auto auto;
}
.searchbar{
  background-color: #090909;
  color: #ffffff;
}

.main {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 112px;
  padding: 72px 0px 72px;
  overflow-x: hidden;
  height: 500px;
}

.main1text {
  grid-column-start: 1;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: block;
margin-top: 20px;
margin-left: 450px
}

.main2text {
  text-decoration: none;
  font-size: 14px;
color: #a5ffef;
  display: block;
margin-top: 50px;
margin-left: 850px
}
.main3text {
  text-decoration: none;
  font-size: 14px;
color: #1ed760;
  display: block;
margin-top: 50px;
margin-left: 450px
}
