html {
  @import url('https://fonts.googleapis.com/css?family=Montserrat')
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  background-color: #ffffff;
  color: #121212;
  overflow-x: hidden;
}

/*HEADINGS*/
h1 {
  font-family: "Montserrat", sans-serif;;
  font-size: 96px;
  font-weight: 700;
}
h2 {
  font-family: "Montserrat", sans-serif;;
  font-size: 64px;
  font-weight: 700;
  margin: 0px;
}
h3 {
  font-family: "Montserrat", sans-serif;;
  font-size: 32px;
  font-weight: 700;
}

p {
  font-size: 18px;
  margin-top: 16px;
  font-weight: 200;
}
.container {
  display: grid;
  grid-template-columns: 210px auto;
}

/*NAVIGATION*/
.sidenav {
  grid-column-start: 1;
  height: 100%;
  width: 210px;
  position: fixed;
  padding-top: 24px;
  background-color: #000000;
}
.sidenav a.menu {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 8px;
  margin-right: 8px;
  height: 40px;
  text-decoration: none;
  font-size: 14px;
  color: #B3B3B3;
  display: flex;
  align-items: center;
}
.sidenav a.menu:hover {
  color: #1DB954;
}
.sidenav a.active {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 8px;
  margin-right: 8px;
  height: 40px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: #282828;
  color: #ffffff;
  border-radius: 4px;
}
.sidenavp {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 12px;
  color: #818181;
  display: flex;
}

/*BODY*/
.container-main{
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 60px auto auto auto;
  }

.searchbar{
  grid-row-start: 1;
  background-color: #090909;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.container-title {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 112px;
  padding: 72px 0px 72px;
  overflow-x: hidden;
  height: 500px;
}

.header-image {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 112px;
  padding: 72px 0px 72px;
  overflow-x: hidden;
  height: 300px;
}

.maintext {
  width: 500px;
  height: 400px;
  font-size: 14px;
  color: #ffffff;
  grid-column-start: 1;
  justify-self: end;
}

/*Body Text*/
.grid-body {
  display: grid;
  grid-template-columns: 25% auto 25%;
  grid-column-gap: 50px;
}
.bodytext {
  grid-column-start: 2;
  justify-self: center;
  text-align: center;
  width: 800px;
  margin-left: 100px;
  padding: 0px 15px;
  font-weight: normal;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a.menu {font-size: 18px;}
}

a.button:link, a.button:visited {
  border-radius: 500px;
  padding: 17px 48px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 35px;
}

a.button:hover, a.button:active {
  color: black;
  background-color: white;
}

a.about:link, a.about:visited {
  background-color: #a5ffef;
  width: 175px;
  height: 50px;
  color: #cb1582;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 25px
}

a.future:link, a.future:visited {
  background-color: #1ed760;
  width: 175px;
  color: #2d46b9;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px
}

.subtitle {
  text-decoration: none;
  font-size: 14px;
color: #000000;
  display: block;
margin-top: 5px;
margin-left: 50px
}
